<h2>Wrestler: <%= @wrestler.name %></h2>

<ul>
  <li>Age: <%= @wrestler.age %> </li>
  <li>Gender: <%= @wrestler.gender %> </li>
  <li>Weight: <%= @wrestler.weight %> lbs. </li>
</ul>
<%= link_to '<< Back', wrestlers_path %> |
<%= link_to 'Edit Wrestler', edit_wrestler_path(@wrestler) %> |
<%= link_to 'Delete Profile', wrestler_path(@wrestler), method: :delete, data: {confirm: 'Are you sure you want to delete your profile?'} %>
<hr />
<%= link_to "Stats for #{@wrestler.name} ", wrestler_tournaments_path(@wrestler) %>
